.biggerBody {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
a:visited,
a:link {
  color: white !important;
  text-decoration: underline;
}
.card:last-of-type {
  margin-left: 35px;
  margin-right: auto;
  justify-self: unset;
  align-self: unset;
}
