<div class="mainBody">
  <div class="headDiv">
    <span> <&nbsp;/&nbsp;> </span>
    <h1>Michael Selbertinger Portfolio</h1>
  </div>
  <div class="topSec">
    <div class="aboutMe">
      <div class="aboutMeLeft">
        <img
          src="\assets\gitpage-images\photoshooting.png"
          alt="Michael Selbertinger"
          width="220"
        />
      </div>
      <div style="display: flex; flex-direction: column">
        <h2 class="aboutMeHeading">Über mich</h2>
        <p class="aboutMeText">
          Ich bin Michael Selbertinger, ein Webentwickler aus dem Chiemgau.
          <!-- Seit August 2023 arbeite ich als Full-Stack Webentwickler bei AZ -->
          <!-- Online Solutions.  -->
          Ich lerne schon seit mehreren Jahren zu Programmieren und bin stets
          daran interessiert, meine Fähigkeiten weiterzuentwickeln und an
          innovativen Projekten zu arbeiten. Mein größtes Projekte ist ein
          KI-gestütztes Plugin der SEO-Küche, das zur automatisierten Erstellung
          von SEO-konformen Inhalten und Meta-Daten dient.
        </p>
      </div>
    </div>
    <div class="left">
      <h2>Kenntnisse</h2>
      <div class="stackImages">
        <img src="/assets/gitpage-images/html5.svg" alt="html5" width="64px" />
        <img src="\assets\gitpage-images\css3.svg" alt="css3" width="64px" />
        <img src="\assets\gitpage-images\js.svg" alt="js" width="64px" />
        <img
          src="\assets\gitpage-images\typescript.svg"
          alt="typescript"
          width="64px"
        />
        <img
          src="\assets\gitpage-images\angular.svg"
          alt="angular"
          width="64px"
        />
        <img src="\assets\gitpage-images\php.svg" alt="php" width="64px" />
      </div>
    </div>
  </div>
  <div class="whiteLineCenter"></div>

  <div class="content">
    <h2 class="centerFix" style="margin-top: 0">Aktuelles</h2>
    <div class="aktuelles">
      <div class="card" *ngFor="let item of sites">
        <a href="{{ item.livesitesrc }}" target="_blank">
          <app-project-card *ngIf="item" [item]="item"></app-project-card>
        </a>
      </div>
    </div>
  </div>

  <h2>Statistiken</h2>
  <div class="flex">
    <div class="flexCol">
      <h3>Zeichen</h3>
      <p>Insgesamt:{{ charsTotal.toLocaleString("de-DE") }}</p>
      <ngx-charts-bar-vertical
        [view]="view"
        [customColors]="colorScheme"
        [results]="Zeichendaten"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        (select)="onSelect($event)"
        style="fill: #fff"
      >
      </ngx-charts-bar-vertical>
    </div>
    <div class="flexCol">
      <h3>Wörter</h3>
      <p>Insgesamt:{{ wordsTotal.toLocaleString("de-DE") }}</p>
      <ngx-charts-bar-vertical
        [view]="view"
        [customColors]="colorScheme"
        [results]="Woerterdaten"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        (select)="onSelect($event)"
        style="fill: #fff"
      >
      </ngx-charts-bar-vertical>
    </div>
    <div class="flexCol">
      <h3>Zeilen</h3>
      <p>Insgesamt:{{ linesTotal.toLocaleString("de-DE") }}</p>
      <ngx-charts-bar-vertical
        [view]="view"
        [customColors]="colorScheme"
        [results]="Lienendaten"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        (select)="onSelect($event)"
        style="fill: #fff"
      >
      </ngx-charts-bar-vertical>
    </div>
    <div class="header">
      <h2>Karriere</h2>
    </div>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap");
    </style>
    <section class="design-section">
      <div class="timeline">
        <div class="timeline-component timeline-content">
          <a href="https://www.ifb-rosenheim.de">
            <h3>IFB Rosenheim</h3>
          </a>
          <p>Schulische Ausbildung Informatikassistent</p>
        </div>
        <div class="date dateTop">
          <h4>April 23 - Juli 23</h4>
        </div>

        <div class="timeline-component timeline-content">
          <a href="https://azonlinesolutions.de">
            <h3 id="karriere">AZ Online Solutions</h3>
          </a>

          <p>Praktikum Full-Stack Webentwicklung</p>
        </div>
        <div class="date dateTop">
          <h4>September 23 -</h4>
        </div>
        <div class="timeline-middle start">
          <p>Start</p>
          <div class="timeline-circle"></div>
          <div class="timeline-circle"></div>
        </div>
        <div class="timeline-middle">
          <div class="timeline-circle"></div>
        </div>
        <div class="timeline-middle">
          <div class="timeline-circle"></div>
        </div>
        <div class="timeline-middle">
          <div class="timeline-circle"></div>
        </div>

        <div class="date">
          <h4>September 22 - September 23</h4>
        </div>

        <div class="timeline-component timeline-content">
          <a href="https://www.seo-kueche.de">
            <h3>SEO-Küche Rosenheim</h3>
          </a>
          <p>Minijob Onpage Entwickler</p>
        </div>
        <div class="date">
          <h4>Juli 23 - August 23</h4>
        </div>
        <div class="timeline-component timeline-content">
          <a href="https://www.seo-kueche.de">
            <h3>SEO-Küche Rosenheim</h3>
          </a>
          <p>Teilzeit Webentwickler</p>
        </div>
      </div>
    </section>
  </div>
</div>
