<div class="mainBody">
  <h1>namedmichi Github Pages</h1>
  <h2>Statistiken</h2>
  <div class="flex">
    <div class="flexCol">
      <h3>Zeichen</h3>
      <p>Insgesamt:{{ charsTotal.toLocaleString("de-DE") }}</p>
      <ngx-charts-bar-vertical
        [view]="view"
        [customColors]="colorScheme"
        [results]="Zeichendaten"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        (select)="onSelect($event)"
        style="fill: #fff"
      >
      </ngx-charts-bar-vertical>
    </div>
    <div class="flexCol">
      <h3>Wörter</h3>
      <p>Insgesamt:{{ wordsTotal.toLocaleString("de-DE") }}</p>
      <ngx-charts-bar-vertical
        [view]="view"
        [customColors]="colorScheme"
        [results]="Woerterdaten"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        (select)="onSelect($event)"
        style="fill: #fff"
      >
      </ngx-charts-bar-vertical>
    </div>
    <div class="flexCol">
      <h3>Zeilen</h3>
      <p>Insgesamt:{{ linesTotal.toLocaleString("de-DE") }}</p>
      <ngx-charts-bar-vertical
        [view]="view"
        [customColors]="colorScheme"
        [results]="Lienendaten"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        (select)="onSelect($event)"
        style="fill: #fff"
      >
      </ngx-charts-bar-vertical>
    </div>
    <div class="content">
      <h1>Aktuelles</h1>
      <div class="aktuelles">
        <div class="card" *ngFor="let item of sites">
          <app-project-card *ngIf="item" [item]="item"></app-project-card>
        </div>
      </div>
    </div>
    <div class="header">
      <h2>Karriere</h2>
    </div>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap");
    </style>
    <section class="design-section">
      <div class="timeline">
        <div class="timeline-component timeline-content">
          <a href="https://www.ifb-rosenheim.de">
            <h3>IFB Rosenheim</h3>
          </a>
          <p>Schulische Ausbildung Informatikassistent</p>
        </div>
        <div class="date dateTop">
          <h4>April 23 - vorauss. Juli 23</h4>
        </div>

        <div class="timeline-component timeline-content">
          <h3 id="karriere">Coming soon</h3>

          <p></p>
        </div>

        <div class="timeline-middle start">
          <p>Start</p>
          <div class="timeline-circle"></div>
          <div class="timeline-circle"></div>
        </div>
        <div class="timeline-middle">
          <div class="timeline-circle"></div>
        </div>
        <div class="timeline-middle">
          <div class="timeline-circle"></div>
        </div>

        <div class="date">
          <h4>September 22 - vorauss. Juli 24</h4>
        </div>

        <div class="timeline-component timeline-content">
          <a href="https://www.seo-kueche.de">
            <h3>SEO-Küche Rosenheim</h3>
          </a>
          <p>Minijob Onpage Entwickler</p>
        </div>
      </div>
    </section>
  </div>
</div>
