/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  margin: 0;
  padding: 0;
  --dark-background: #222831;

  --light-background: #393e46;

  --main: #4c9173;

  --secondary: #eeeeee;
  font-family: "Open Sans", sans-serif;
  background-color: var(--light-background);
  color: var(--secondary) !important;
}
